
:root {
    --BLUE_COLOR: #376bff;
}

.button-theme {
    /*background:#ff214f;*/
    background: var(--BLUE_COLOR);
}

.button-theme:hover {
    background: var(--BLUE_COLOR);
}

.team-2 .detail h4 a{
    color: var(--BLUE_COLOR);
}

.modal-right-content h3{
    color: var(--BLUE_COLOR);
}

.close span {
    color: var(--BLUE_COLOR);
}

.car-model-2 .ratings-box {
    background: var(--BLUE_COLOR);
    color: #fff!important;
}

.category-subtitle{
    color: var(--BLUE_COLOR);
}

.modal-left-content .description h3{
    color: var(--BLUE_COLOR);
}

.overlap-btn:hover {
    border: solid 1px var(--BLUE_COLOR);
    background: var(--BLUE_COLOR);
    color: #fff!important;
}

.overlap-btn.active {
    border: 2px solid var(--BLUE_COLOR) !important;
    background: var(--BLUE_COLOR) !important;
    color: #fff;
}

.blog-4 .detail h3 a{
    color: var(--BLUE_COLOR);
}

.blog-item .b-btn{
    color: var(--BLUE_COLOR);
}

.advantages-box-2 .icon {
    color: var(--BLUE_COLOR);
    border: dashed 1px var(--BLUE_COLOR);
}

.price-box-2{
    color: var(--BLUE_COLOR);
}

.car-box-3 .detail .title a{
    color: var(--BLUE_COLOR);
}

.car-box-5 .facilities-list li i{
    color: var(--BLUE_COLOR);
}

.car-box-3 .facilities-list li i{
    color: var(--BLUE_COLOR);
}

.car-box-2 .facilities-list li i{
    color: var(--BLUE_COLOR);
}

.change-view-btn:hover {
    background: var(--BLUE_COLOR);
    border: solid 2px var(--BLUE_COLOR);
    color: #fff;
}

.change-view-btn {
    border-radius: 2px;
    border: solid 2px var(--BLUE_COLOR);
    color: var(--BLUE_COLOR);
}

.active-view-btn{
    background: var(--BLUE_COLOR);
    border: solid 2px var(--BLUE_COLOR);
    color: #fff;
}

.car-box-4 h5{
    color: var(--BLUE_COLOR);
}

.blog-4 .date-box-2{
    color: var(--BLUE_COLOR);
}

.blog-4 .post-meta a {
    color: var(--BLUE_COLOR);
}

.date-box::after {
    border-right: 20px solid var(--BLUE_COLOR);
}

.sb-5 .search-area-inner{
    background: var(--BLUE_COLOR);
}

.carousel-indicators .active {
    background-color: var(--BLUE_COLOR);
}

.navbar-light .navbar-toggler{
    background: var(--BLUE_COLOR);
}

.shop-box .shop-details h4 {
    color: var(--BLUE_COLOR);
}

.banner h4 {
    color: var(--BLUE_COLOR);
}

.shop-info .price del {
    color: var(--BLUE_COLOR);
}

.details-banner .cover-buttons ul li a:hover {
    border: solid 1px var(--BLUE_COLOR);
    background: var(--BLUE_COLOR);
}

.text .ratings-box {
    background: var(--BLUE_COLOR);
}

.btn-border {
    color: var(--BLUE_COLOR);
    border: solid 1px var(--BLUE_COLOR);
}

.btn-border:hover {
    border: solid 1px var(--BLUE_COLOR);
    background: var(--BLUE_COLOR);
}

.dashboard-nav ul {
    border-bottom: 1px solid var(--BLUE_COLOR);
}

.advantages-box .icon{
    background: var(--BLUE_COLOR);
}

.new-user-box .follow:hover{
    background:var(--BLUE_COLOR);
    color: #fff;
}

.setting-button i{
    color:var(--BLUE_COLOR);
}

.top-header {
    background-color:var(--BLUE_COLOR);
}

#page_scroller {
    background:var(--BLUE_COLOR);
}

.dashboard-nav{
    background:var(--BLUE_COLOR);
}

/** Tab box 2 start **/
.tab-box-2 .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background: transparent;
    border-bottom: solid 2px var(--BLUE_COLOR);
    border-radius: 0;
    color:var(--BLUE_COLOR);
}

.tab-box .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background:var(--BLUE_COLOR);
}

.checkbox-theme input[type="checkbox"]:checked + label::before {
    border: 2px solid var(--BLUE_COLOR);
}

.main-header .dropdown-menu a:hover {
    color:var(--BLUE_COLOR);
}

input[type=checkbox]:checked + label:before {
    color:var(--BLUE_COLOR);
}

.advantages-box-3 i{
    color: var(--BLUE_COLOR);
}

.contact-btn {
    color: var(--BLUE_COLOR);
    border: solid 2px var(--BLUE_COLOR);
}

.contact-btn:hover {
    color: #fff;
    border: solid 2px var(--BLUE_COLOR);
    background: var(--BLUE_COLOR);
}

.banner-bg-color{
    background:var(--BLUE_COLOR);
}

.btn-theme{
    background:var(--BLUE_COLOR);
    border: solid 1px var(--BLUE_COLOR);
}

.btn-theme:hover{
    background: var(--BLUE_COLOR);
    border: solid 1px var(--BLUE_COLOR);
}

.btn-white-lg-outline:hover {
    color: #FFF;
    background:var(--BLUE_COLOR);
    border: solid 2px var(--BLUE_COLOR);
}

.car-amenities ul li i {
    color:var(--BLUE_COLOR);
}

.pages-404 .border-thn {
    color: var(--BLUE_COLOR);
    border: solid 2px var(--BLUE_COLOR);
}

.pages-404 .border-thn:hover {
    color: #fff;
    border: solid 2px var(--BLUE_COLOR);
    background: var(--BLUE_COLOR);
}

.border-button-theme {
    color:var(--BLUE_COLOR);
    border: 2px solid var(--BLUE_COLOR);
}

.banner-detail-box .red-box {
    background:var(--BLUE_COLOR) url( ../../img/slider-detail.png) center center;
}

.banner-detail-box .white-box .slide-price {
    color:var(--BLUE_COLOR);
}

.banner-detail-box .white-box .slide-location::after {
    background-color:var(--BLUE_COLOR);
}

.search-options-btn, .search-options-btn:hover {
    background:var(--BLUE_COLOR);
}

.search-button {
    background:var(--BLUE_COLOR);
}

.intro-section {
    background:var(--BLUE_COLOR);
}

.search-button:hover {
    color: #fff;
    background: var(--BLUE_COLOR);
}

.popular .price-for-user {
    color:var(--BLUE_COLOR);
}

.dolar{
    color:var(--BLUE_COLOR);
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
    color:var(--BLUE_COLOR);
}

.bootstrap-select .dropdown-menu > .active > a,
.bootstrap-select .dropdown-menu > .active > a:focus,
.bootstrap-select .dropdown-menu > .active > a:hover {
    color:var(--BLUE_COLOR);
}

.bootstrap-select .dropdown-menu li a:hover .text {
    color:var(--BLUE_COLOR);
}

.tag {
    background:var(--BLUE_COLOR);
}

.tag::after {
    border-left: 10px solid var(--BLUE_COLOR);
}

.recent-properties-box .detail header::after {
    background-color:var(--BLUE_COLOR);
}

.car-box .detail .title a {
    color:var(--BLUE_COLOR);
}

footer .footer-item .contact-info li label a:hover {
    color:var(--BLUE_COLOR);
}

.service-info .icon i{
    color:var(--BLUE_COLOR);
}

.service-box .heading .title h4 a:hover {
    color:var(--BLUE_COLOR);
}

.main-header .form-inline .submit {
    border: solid 1px var(--BLUE_COLOR);
    color:var(--BLUE_COLOR);
}

.main-header .form-inline .submit:hover {
    border: solid 1px var(--BLUE_COLOR);
    background:var(--BLUE_COLOR);
    color: #fff;
}

.main-header .navbar-expand-lg .navbar-nav .nav-link:hover {
    color:var(--BLUE_COLOR);
}

/*.main-header .navbar-expand-lg .navbar-nav .active .nav-link {
    color:#ff214f !important;
}*/

.main-header .navbar-expand-lg .user-account li a:hover {
    color:var(--BLUE_COLOR);
}

.plan .price-header h1 {
    color:var(--BLUE_COLOR);
}

.btn-outline {
    border: solid 1px var(--BLUE_COLOR);
    color:var(--BLUE_COLOR);
}

.btn-outline:hover {
    border: solid 1px var(--BLUE_COLOR);
    background: var(--BLUE_COLOR);
    color: #fff;
}

.btn-outline-2 {
    border: solid 2px var(--BLUE_COLOR);
    color:var(--BLUE_COLOR);
    font-weight: 600;
}

.heading-car-2 h3 span {
    color:var(--BLUE_COLOR);
}

.btn-outline-2:hover {
    border: solid 2px var(--BLUE_COLOR);
    background: var(--BLUE_COLOR);
    color: #fff;
}

.footer .form-inline .btn{
    background:var(--BLUE_COLOR);
    color: #fff;
}

.search-box-2{
    background:var(--BLUE_COLOR);
}

.about-box .detail h3 {
    color:var(--BLUE_COLOR);
}

li.active.filtr-button.filtr a{
    color:var(--BLUE_COLOR);
}

.coming-soon-inner h1 span{
    color:var(--BLUE_COLOR);
}

.filteriz-navigation li a:hover{
    color:var(--BLUE_COLOR);
}

.sub-banner .page-info .breadcrumb-area ul li a:hover {
    color:var(--BLUE_COLOR);
}


.show-more-options i{
    color:var(--BLUE_COLOR);
}

.form-content-box .footer span a {
    color:var(--BLUE_COLOR);
}

.pagination > li > .active {
    background:var(--BLUE_COLOR);
}

.pagination > li > a:hover {
    background:var(--BLUE_COLOR);
    color: #fff;
}

.read-more {
    color:var(--BLUE_COLOR);
}

.blog-3 .date-box {
    background:var(--BLUE_COLOR);
}

.blog-3 .date-box::after {
    border-right: 15px solid var(--BLUE_COLOR);
}

.blog-3 .detail h3 a {
    color:var(--BLUE_COLOR);
}

.blog-3 .detail .post-meta span a i {
    color:var(--BLUE_COLOR);
}

.range-slider .ui-slider .ui-slider-handle {
    background:var(--BLUE_COLOR);
}

.our-agent-sidebar .carousel-indicators .active {
    background:var(--BLUE_COLOR);
}

.range-slider .ui-slider .ui-slider-handle {
    border: 2px solid var(--BLUE_COLOR);
}

.range-slider .ui-widget-header {
    background-color: var(--BLUE_COLOR);
}

.main-header .navbar-expand-lg .navbar-nav .link-color {
    color: var(--BLUE_COLOR);
    border: solid 1px var(--BLUE_COLOR);
}

.main-header .navbar-expand-lg .navbar-nav .link-color:hover{
    color: #fff;
    border: solid 1px var(--BLUE_COLOR);
    background: var(--BLUE_COLOR);
}

.posts-by-category ul li a:hover {
    color: var(--BLUE_COLOR);
}

.tags-box ul li a:hover {
    border: 1px solid var(--BLUE_COLOR);
    color: var(--BLUE_COLOR);
}

.latest-tweet a {
    color: var(--BLUE_COLOR);
}

.blog-1 h3 a:hover{
    color:var(--BLUE_COLOR);
}

.reviews-box .text-primary {
    color:var(--BLUE_COLOR);
}

.reviews-box .progress-primary .progress-bar {
    background:var(--BLUE_COLOR);
}

.overall .score span{
    color:var(--BLUE_COLOR);
}

.blog-tags a:hover {
    border: 1px solid var(--BLUE_COLOR);
    color:var(--BLUE_COLOR);
}

.car-box-5 .detail .title a {
    color:var(--BLUE_COLOR);
}

.vs{
    background:var(--BLUE_COLOR);
}

.reviews-box .detail .title a {
    color:var(--BLUE_COLOR);
}

.blog-1 .date-box {
    background:var(--BLUE_COLOR);
}

.blog-1 .detail h4 a:hover{
    color:var(--BLUE_COLOR);
}

.leaflet-container a.leaflet-popup-close-button {
    color:var(--BLUE_COLOR);
}

.breadcrumbs li a:hover {
    color:var(--BLUE_COLOR);
}

.helping-center ul li i {
    color:var(--BLUE_COLOR);
}

.my-account-box .title::after {
    background-color:var(--BLUE_COLOR);
}

.breadcrumb-nav ul .active {
    color:var(--BLUE_COLOR);
}

.photoUpload {
    background:var(--BLUE_COLOR);
}

.typography-page mark.color {
    background-color:var(--BLUE_COLOR);
}

.faq-accordion .card-header .collapsed.card-title:before {
    color:var(--BLUE_COLOR);
}

.dashboard-nav ul li span.nav-tag {
    color:var(--BLUE_COLOR);
}

.comment-content h6 span a{
    color:var(--BLUE_COLOR);
}

.comment-content h6 span a:hover{
    color: var(--BLUE_COLOR);
}

.bg-active {
    background:var(--BLUE_COLOR);
    color: #fff !important;
}

.typography .list-3 li:before, .list-2 li:before, .list-1 li:before {
    color:var(--BLUE_COLOR);
}

.numbered.color.filled ol > li::before {
    border: 1px solid var(--BLUE_COLOR);
    background-color:var(--BLUE_COLOR);
}

.numbered.color ol > li::before {
    border: 1px solid var(--BLUE_COLOR);
    color:var(--BLUE_COLOR);
}

.widget-link:hover {
    color:var(--BLUE_COLOR);
}

.coming-soon-inner .btn, .coming-soon-inner .btn:hover, .coming-soon-inner .btn:active {
    background:var(--BLUE_COLOR);
}

.car-box-2 .detail .title a {
    color:var(--BLUE_COLOR);
}

.tabbing-box .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color:var(--BLUE_COLOR);
}

.tabbing-box .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover {
    background-color:var(--BLUE_COLOR);
}

.map-marker:hover {
    background-color:var(--BLUE_COLOR);
    cursor: pointer;
}

.map-marker:hover:before {
    border-color:var(--BLUE_COLOR) transparent transparent transparent;
}

.map-marker.featured:hover {
    background-color:var(--BLUE_COLOR);
}

.map-marker.featured:hover:before {
    border-color:var(--BLUE_COLOR) transparent transparent transparent;
}

.map-marker .icon {
    border: 3px solid var(--BLUE_COLOR);
}

.marker-active .map-marker {
    background-color:var(--BLUE_COLOR);
}

.marker-active .map-marker:before {
    border-color:var(--BLUE_COLOR) transparent transparent transparent;
}

.slick-arrow-buton:hover{
    background:var(--BLUE_COLOR);
    color: #fff;
}

.map-properties .map-content h4 a {
    color:var(--BLUE_COLOR);
}

.dropzone-design:hover {
    border: 2px dashed var(--BLUE_COLOR);
}


@media (max-width: 992px) {
    .main-header .navbar-expand-lg .navbar-nav .nav-link:hover {
        color:var(--BLUE_COLOR) !important;
    }
}

@media (max-width: 768px) {
    .navbar-default .navbar-toggle .icon-bar {
        background-color:var(--BLUE_COLOR);
    }

    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
        background-color:var(--BLUE_COLOR) !important;
    }

    .main-header .navbar-default .nav > li > a:hover {
        background:var(--BLUE_COLOR);
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
        background-color:var(--BLUE_COLOR) !important;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        background: #eee;
    }
}

@media (min-width: 992px) {
    /*.header-transparent .navbar-expand-lg .navbar-nav .active .nav-link,
    .header-transparent .navbar-expand-lg .navbar-nav .nav-link:hover
    {
        color: #fff !important;
    }

    .header-transparent .navbar-expand-lg .navbar-nav .nav-link {
        color: #fff;
    }

    .header-transparent .link-color {
        color: #fff;
    }*/
}
