.fa-question-circle {
    color: #20a8d8;
}
.info{
    display: inline;
    cursor: help;
}
.info:hover::before{
    background: #333;
    background: rgba(75,75,75, 0.85);
    border-radius: 5px;
    color: #fff; content:
    attr(data-tooltip);
    padding: 10px 15px;
    position: absolute;
    z-index: 999;
    width: 250px;
    margin-left: -78px;
    transform: translateY(calc(-100% - 12px));
}
.info:hover::after{
    border: solid;
    border-color: #4b4b4b transparent;
    border-width: 12px 12px 0 12px;
    content: "";
    position: absolute;
    z-index: 99;
    transform: translateX(-100%) translateY(-100%)
}
